div{
    border: 1px solid red;
    padding: 10px;
    padding-bottom: 20px;
    h1 {
        display: flex;
        justify-content: center;
        color: green;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 1px;
    }
    section {
        display: flex;
        flex-direction: row;
        article{
            border: 1px solid green;
            p{
                display: flex;
                text-align: center;
                font-size: 20px;
            }
            &:nth-child(odd){
                p{
                    color: blue;
                }
            }
            &:nth-child(even){
                p{
                    color: red;
                }
            }
        }
    }
}

