div{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 20px;
    gap:1rem;
    h1 {
        display: flex;
        justify-content: center;
        color: green;
        text-decoration: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 1px;
    }
    h2 {
        @extend h1;
        align-self: center;
        text-decoration: unset;
        border:1px solid red;
        width: fit-content;
        padding:20px;
    }
    section {
        display: flex;
        flex-direction: row;
        article{
            border: 1px solid green;
            p{
                display: flex;
                text-align: center;
                font-size: 20px;
            }
            &:nth-child(odd){
                p{
                    color: blue;
                }
            }
            &:nth-child(even){
                p{
                    color: red;
                }
            }
        }
        &:last-child{
            article{
                border: 1px solid blue;
                width: 100%;
                display: flex;
                justify-content: center;
                p{
                    color: green;
                    font-size: 26px;
                }
            }
        }
    }
}