@use "function.scss" as f;
@use "variables.scss" as v;

@mixin article-card ($color, $border-color, $font-size) {
    color:$color;
    border: f.rem(1) solid $border-color;
    font-size: $font-size;
}

div{
    @include article-card(v.$green, v.$red, 1rem);
    display: flex;
    flex-direction: column;
    padding: f.rem(10);
    padding-bottom: f.rem(20);
    gap:1rem;
    h1 {
        display: flex;
        justify-content: center;
        color: v.$green;
        text-decoration: underline;
        text-decoration-color: v.$blue;
        text-decoration-thickness: f.rem(1);
    }
    section {
        display: flex;
        flex-direction: row;
        article{
            border: f.rem(1) solid v.$green;
            p{
                display: flex;
                text-align: center;
            }
            &:nth-child(odd){
                p{
                    color: v.$blue;
                }
            }
            &:nth-child(even){
                p{
                    color: v.$red;
                }
            }
        }
        &:last-child{
            article{
                @include article-card(v.$green, v.$blue, f.rem(24));
                width: 100%;
                display: flex;
                justify-content: center;
                p{
                    color: v.$green;
                    font-size: inherit;
                }
            }
        }
    }
}